@define-color base #282828;
@define-color bg1 #3c3836;
@define-color foreground #ebdbb2;
@define-color cyan #83a598;
@define-color green #8ec07c;
@define-color orange #fe8019;
@define-color pink #d3869b;
@define-color purple #b16286;
@define-color red #fb4934;
@define-color yellow #fabd2f;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono Nerd Font", "Material Design Icons";
  font-size: 14px;
  color: @foreground;
}

#window {
  color: @pink;
  background: @base;
  opacity: 0.6;
  transition-property: background-color;
  border-radius: 100px;
  padding: 0;
}

#waybar.empty #window {
  background: none;
}

window#waybar {
  background-color: @base;
}

#workspaces {
  border-radius: 100px;
  background: @base;
  padding: 0 0px;
}

button {
  margin-right: 5px;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  background: @base;
  box-shadow: none;
  text-shadow: none;
}

button:hover {
  color: @pink;
  border: none;
  box-shadow: none;
  text-shadow: none;
}


#workspaces button {
  border: none;
  background-color: @base;
  color: @foreground;
  transition: 0.2s;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button.active {
    background-color: @bg1;
}

#workspaces button:hover {
  color: @orange;
  background: @base;
  transition: 0.2s;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#language,
#keyboard-state,
#custom-power {
  padding-left: 10px;
  padding-right: 12px;
  background-color: @base;
  border-radius: 100px;
}
